# Python cache
__pycache__/
*.py[cod]

# Entornos virtuales
venv/
env/

# Configuración de entorno
.env

# Carpeta instance que tiene la base de datos
instance/

# Archivos de base de datos
*.db
*.sqlite3

# Archivos temporales
*.log

# VSCode
.vscode/

# Mac/Windows
.DS_Store
Thumbs.db
